<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb  hidden-xs">
            <li>
                <a href="index.html">LINK UP</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Conference Booking</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Booking Details</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
       
        <div class="portlet light bordered">
            <div class="portlet-body">
                
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->