.validationClass{
    border-left: 5px solid red;
}
.warning{
    color: red;
}

.fixWidth{
    width:38px;
}
@media only screen and (max-width: 560px){
    .hide-bottom-xs{
        border-bottom: 0px !important;
    }
}
