<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb hidden-xs">
            <li>
                <span>LINK UP</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Employee Timesheet</span>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-body">
                        <p-dataTable  [value]="myTimeSheet" [responsive]="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                            <p-column [style]="{'width':'200px'}"  header="Approver" [sortable]="true">
                                <template let-rowData="rowData" pTemplate="body">
                                    <ul class="ul-list-table">
                                        <li *ngFor="let item of rowData.ApproverUser">{{item.Name}}</li>
                                    </ul>
                                </template>
                            </p-column>
                            <p-column  header="Start Date" [sortable]="true">
                                <template let-rowData="rowData" pTemplate="body">
                                    {{rowData.EndDate | date:'dd/MM/y'}}
                                </template>
                            </p-column>
                            <p-column header="End Date" [sortable]="true">
                                <template let-rowData="rowData" pTemplate="body">
                                    {{rowData.EndDate | date:'dd/MM/y'}}
                                </template>
                            </p-column>
                            <p-column field="BillableHours" header="Billable Hours" [sortable]="true"></p-column>
                            <p-column field="NonBillableHours" header="Non-Billable Hours" [sortable]="true"></p-column>
                            <p-column field="SubmittedStatus" header="Status" [sortable]="true"></p-column>
                            <p-column header="Submitted Date" [sortable]="true">
                                <template let-rowData="rowData" pTemplate="body">
                                    {{rowData.TimesheetSubmittedDate | date:'dd/MM/y'}}
                                </template>
                            </p-column>
                             <p-column styleClass="col-button" header="Edit" field="color"  >
                                <template let-rowItem="rowData" pTemplate type="body">
                                    <button id="actionUpdate" type="button" pButton (click)="onEdit(rowItem.ID)" icon="fa fa-edit"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>