<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <div class="hidden-xs">
      <ul class="page-breadcrumb breadcrumb">
        <li>
          <span>LINK UP</span>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span>Approve Leave</span>
          <i class="fa fa-circle"></i>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
          <div class="portlet-body">
            <p-dataTable [value]="leaveList" [paginator]="true"  [rowStyleClass]="getLeaveStatusClass"  [rows]=(servRows) [responsive]="true">
              <p-column styleClass="col-button" styleClass="visible-xs"  header="Action">
                <template let-leave="rowData" pTemplate type="body">
                  <!--<button id="actionEdit" type="button" (click)="editBtnClicked(leave.LeaveRequestMasterId)" pButton icon="fa-edit"></button>-->
                  <div class="dropdown pull-right hand-cursor">
                    <i class="fa fa-ellipsis-v dropdown-toggle action-icon" data-toggle="dropdown" aria-hidden="true"></i>
                    <ul class="dropdown-menu pull-right " style="font-size: large">
                      <li *ngIf="checkIfApproverPresent(leave)" (click)="approveLeave(leave.LeaveRequestMasterId)"><a ><i class="fa fa-check" aria-hidden="true"></i>Approve</a ></li>
                      <li *ngIf="checkIfApproverPresent(leave) && leave.Status==='Pending'" (click)="rejectLeave(leave)"><a ><i class="fa fa-times" aria-hidden="true"></i>Reject</a ></li>
                      <li (click)="editBtnClicked(leave.LeaveRequestMasterId)"><a ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a ></li>
                    </ul>
                  </div>
                </template>
              </p-column>
              <p-column field="Employee.Name" header="Employee" [sortable]="true"></p-column>
              <p-column field="NumberOfDays" header="No. of Leaves" [sortable]="true"></p-column>
              <p-column field="Status" header="Status"  [sortable]="true"></p-column>
              <p-column header="Start Date" [sortable]="true">
                <template let-rowData="rowData" pTemplate="body">
                  {{rowData.StartDate | date:'dd/MM/y'}}
                </template>
              </p-column>
              <p-column header="End Date" [sortable]="true">
                <template let-rowData="rowData" pTemplate="body">
                  {{rowData.EndDate | date:'dd/MM/y'}}
                </template>
              </p-column>
              <p-column header="Approvers" styleClass="hidden-xs" [sortable]="true">
                <template let-rowData="rowData" pTemplate="body">
                   <ul class="ul-list-table">
                      <li *ngFor="let item of rowData.Approvers">{{item.Name}}</li>
                  </ul>
                </template>
              </p-column>
              <p-column header="Pending Approvers"  styleClass="hidden-xs"  [sortable]="true">
                <template let-rowData="rowData" pTemplate="body">
                   <ul class="ul-list-table">
                      <li *ngFor="let item of rowData.PendingApprovers">{{item.Name}}</li>
                  </ul>
                </template>
              </p-column>
              <p-column styleClass="col-button" styleClass="hidden-xs"  header="Action">
                <template let-leave="rowData"  pTemplate type="body">
                  <!--<button id="actionEdit" type="button" (click)="editBtnClicked(leave.LeaveRequestMasterId)" pButton icon="fa-edit"></button>-->
                  <div class="dropdown dropdown-action-btn  hand-cursor">
                    <i class="fa fa-ellipsis-v dropdown-toggle action-icon" data-toggle="dropdown" aria-hidden="true"></i>
                    <ul class="dropdown-menu pull-right" style="font-size: large">
                      <li *ngIf="checkIfApproverPresent(leave)" (click)="approveLeave(leave.LeaveRequestMasterId)"><a ><i class="fa fa-check" aria-hidden="true"></i>Approve</a ></li>
                      <li *ngIf="checkIfApproverPresent(leave) && leave.Status==='Pending'" (click)="rejectLeave(leave)"><a ><i class="fa fa-times" aria-hidden="true"></i>Reject</a ></li>
                      <li (click)="editBtnClicked(leave.LeaveRequestMasterId)"><a ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a ></li>
                    </ul>
                  </div>
                </template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>