/* here you can put your own css to customize and override the theme */
.ui-growl {   
    position:fixed;
    top: 80px;
    right: 20px;
    width: 300px;
    z-index:9996; 
}

.ui-datatable tbody td
{
    overflow: inherit !important;
}

.action-icon{
    color: #2399e5;
}

.my-leaves-rejected-leave {
  border-left: 3px solid #FE4C52 !important;
  padding-left: 10px !important;
}

.my-leaves-pending-leave {
  border-left: 3px solid #FED035 !important;
  padding-left: 10px !important;
}

.my-leaves-approved-leave {
  border-left: 3px solid #69BB7B !important;
  padding-left: 10px !important;
}

.my-leaves-cancelled-leave{
     border-left: 3px solid #2f353b !important;
}
.fc-time {
   display:none;
}
.dropdown-action-btn {
  margin-left:50px;
}
.ul-list-table {
      padding-left: 14px;
}

.sidebar-profile-image{
    margin-left: 5px;
    margin-top: -8px;
    height: 47px;
    display: inline-block;
}

.mobile-addBtn {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0px;
}
.form-control{
    font-size: 1em;
    font-weight: normal;
    color: #222222;
}
.project-team-member{
    height: 200px !important;
    overflow-y: scroll;
}
.timsheet-date-picker-header{
    height: 40px;
    width: 130px;
}