<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <div class="hidden-xs">
      <ul class="page-breadcrumb breadcrumb">
        <li>
          <span>LINK UP</span>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span>Leave</span>
          <i class="fa fa-circle"></i>
        </li>
        <li>
          <span>Leave Types</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-9 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption">
              <i class="icon-equalizer font-dark hide"></i>
              <span class="caption-subject font-dark bold uppercase">Leave Types</span>
            </div>
            </div>
          </div>
          <div class="portlet-body">
           
          </div>
        </div>
      </div>
    </div>
</div>