<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <ul class="page-breadcrumb breadcrumb hidden-xs">
      <li>
        <span>LINK UP</span>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span class="active">Update Resigned Employee Leave</span>
      </li>
    </ul>
    <div class="portlet light bordered legends-portlet">
      <div class="portlet-body">
        <form class="form-horizontal" novalidate>
          <div class="form-group">
            <label class="control-label bold col-sm-3">Employee :</label>
            <div class="col-sm-9">
               <p class="form-control-static">{{leave.Employee.Name}}</p>             
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 bold">L Balance :</label>
            <div class="col-sm-9">
              <input type="text"  [(ngModel)]="leave.LeaveDetails.LeaveBalance" name='LeaveBalance'  class="form-control"/>
            </div>
          </div>
           <div class="form-group">
            <label class="control-label col-sm-3 bold">Actual Leave Balance :</label>
            <div class="col-sm-9">
               <p class="form-control-static">{{leave.LeaveDetails.ActualBalance}}</p>             
            </div>
          </div>
           <div class="form-group">
            <label class="control-label col-sm-3 bold">FH Balance :</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="leave.LeaveDetails.FloatingHolidayBalance" name='FloatingHolidayBalance'  class="form-control"/>
            </div>
          </div>
           <div class="form-group">
            <label class="control-label col-sm-3 bold">Actual FH Balance :</label>
            <div class="col-sm-9">
               <p class="form-control-static">{{leave.LeaveDetails.ActualFHBalance}}</p>             
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 bold">L Taken :</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="leave.LeaveDetails.LeaveTaken" name='LeaveTaken' class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 bold">Registration Date :</label>
            <div class="col-sm-9">
               <p-calendar id="start" required dateFormat="dd/mm/yy" [showIcon]="true" 
                        [(ngModel)]="leave.ResignationDate" name='resignationDate'></p-calendar>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button pButton type="button" label="Submit" (click)="onSubmit()"></button>
              <button pButton type="button" label="Cancel" (click)="cancel()"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
